.DS_Store
.dir_locals.el
*.so
*.pyc
._*
.nfs.*
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go
.env
.env.prod
.env.dev
.env.traefik
!.env.example

media/*
main

tmp