services:
  orgnote-backend-local:
    build:
      context: .
      dockerfile: Dockerfile-dev
    container_name: orgnote-backend-local
    ports:
      - 8000:8000
    expose:
      - 8000
    depends_on:
      - orgnote-mongo-local
    volumes:
      - ./:/app
      - ./media/local:/app/media
    env_file:
      - .env
    environment:
      - APP_ADDRESS=0.0.0.0:8000
      - GOROOT=/usr/local/go
      - MONGO_URL=orgnote-mongo-local
      - MONGO_PORT=27017
      - S3_ENDPOINT=orgnote-minio-local:9000
    networks:
      - orgnote-local-network

networks:
  orgnote-local-network:
    external: true
